<?xml version="1.0" encoding="UTF-8"?>
<!--
 | Version 10.1.1
 | Copyright 2012 Esri
 |
 | Licensed under the Apache License, Version 2.0 (the "License");
 | you may not use this file except in compliance with the License.
 | You may obtain a copy of the License at
 |
 |    http://www.apache.org/licenses/LICENSE-2.0
 |
 | Unless required by applicable law or agreed to in writing, software
 | distributed under the License is distributed on an "AS IS" BASIS,
 | WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 | See the License for the specific language governing permissions and
 | limitations under the License.
-->
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  
  dms746783.esri.com
  
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0" />
	</system.web>
  <appSettings>
    <add key="oauth_token" value="1483553804-DgwabpwN8hagsx3SsqHz64FXFhTZqbpVUBxHVQy" />
    <add key="oauth_token_secret" value="Q3kqp4OReNLpM2zYIgeTKg7OBW1dSHiUNY9yx2mKY" />
    <add key="oauth_consumer_key" value="iz12Jtff1KcK1nnL8yYKA" />
    <add key="oauth_consumer_secret" value="pq9B4WCsf4FJXjrEsJ8gETxmLJLBbx0TAh3K8NNaw" />
  </appSettings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
